
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2");
    font-display: swap;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", "PT Mono", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
    padding: 14px 70px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 26px;
    list-style-type: none;
    padding: 0;
}

.navigation-link.about-sedona {      
    margin-left: 33px;    
}

.navigation-link.hotels {    
    margin-left: 33px;   
}


.navigation-list a {
    color: #000000;
    text-decoration: none;
}

.navigation-logo {
    width: 138px;
    margin-bottom: 0;
    margin-right: 2px;
    margin-left: 2px;
    position: relative;
    transform: translate(-50%);
    left: 40px;
    top: 25px;
}

.navigation-user {
    display: flex;    
    margin: 0;
}

.navigation-user-want {
    display: block;
    min-width: 160px;
    height: 37px;
    background-color: #756257;
    border-radius: 4px;
}

.navigation-link-want {  
    display: block;
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 10px;
}
.navigation-user-favourites{
    padding-right: 33px;  
}

.navigation-link-favourites {
    display: block;
}

.navigation-user-search {
    padding-right: 21px;
}    

.navigation-link-search {
    display: block;
}

.navigation-link-want a {
    text-decoration: none;
}

.welcome-section {
    height: 485px;
    background: url("../images/page-main.jpg") no-repeat;
    background-color: #83B3D3;
}

.welcome-image-wrapper {
    padding: 50px 0 23px 371px;
}

.welcome-image {
    margin: 0 auto;
}

.welcome-image-2 {
    margin: 0;
}

.advantages {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
}

.sedona-description {
    width: 720px;
    min-height: 80px;
    padding-top: 63px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.reasons {
    width: 720px;
    font-size: 22px;
    line-height: 36px;
    padding-left: 240px;
    padding-top: 23px;
    padding-bottom: 79px;
    
}

/*Преимущества Седоны через сделаны гридами */
.advantages-list {
    display: grid;
    grid-template-areas: "i-1 li-1 li-1"
                         "si-1 si-2 si-3"
                         "li-2 li-2 i-2"
                         "i-3 i-4 i-5";
    grid-template-columns: 400px 400px 400px;    
    grid-template-rows: 384px 384px 384px 384px;  
    list-style-type: none;     
    margin: 0;
    padding: 0;          
}

.item-1 {
    grid-area: i-1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #ffffff;
    background-color: #83B3D3;
}

.advantages-list-photo-1 {
    grid-area: li-1;
}

.advantages-list-photo-2 {
    grid-area: li-2;
}

.subadvantages-item-1 {
    grid-area: si-1;
    color: #000000;
    background-color: rgba(131, 179, 211, 0.12);
}

.subadvantages-item-2 {
    grid-area: si-2;
    color: #000000;
    background-color: #ffffff;
}

.subadvantages-item-3 {
    grid-area: si-3;
    color: #000000;
    background-color: rgba(131, 179, 211, 0.12);
}

.item-2 {
    grid-area: i-2;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-color: #83B3D3;
}

.item-3 {
    grid-area: i-3;
    display: flex;
    flex-direction: column;
    background-color: rgba(131, 179, 211, 0.12);
}

.item-4 {
    grid-area: i-4;
    display: flex;
    flex-direction: column;
    background-color: rgba(131, 179, 211, 0.2);
}

.item-5 {
    grid-area: i-5;
    display: flex;
    flex-direction: column;
    background-color: rgba(131, 179, 211, 0.12);
}

.subadvantages-item {
    padding: 90px 75px 20px;
    text-align: center;
}

/*
.advantages-item {
    padding: 98px 0px 0px 25px;
    text-align: center;
}
*/

.advantages-title {
    width: 400px;
    height: 60px;
    padding-top: 98px;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
}

.advantages-number {
    font-size: 18px;
    line-height: 21px;
    margin: 0;
}

.advantages-description {
    width: 220px;
    padding-left: 90px;
    padding-top: 26px;
    font-size: 18px;
    line-height: 21px;
}

.subadvantages-title {
    padding-top: 23px;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}

.subadvantages-description {
    font-size: 18px;
    line-height: 21px;    
}

.subadvantages-list {
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
    flex-direction: column;
    width: 1200px;
    background-color: #ffffff;
}

.search-title {
    width: 720px;
    margin: auto;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    padding-top: 91px;
    text-align: center;
    text-transform: uppercase;
}
.search-description {
    width: 720px;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    text-align: center;
    margin-top: 15px;
    margin: 0 auto;
   }

.button-search {
    width: 575px;
    height: 60px;
    align-self: center;
    background-color: #756257;
    color:#ffffff;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    border-radius: 10px;
    margin-bottom: 91px;
    margin-top: 73px;
    padding-top: 13px;
    padding-bottom: 17px;

}

.contact-section {
    min-height: 411px;
    background: url("../images/contact-section-background.jpg") no-repeat;
 
}

.contact-section-title {
    width: 720px;
    padding-top: 94px;
    padding-left: 240px;
    font-size: 30px;
    line-height: 36px;
    text-align:center;
    color: #ffffff;
    text-transform: uppercase;
}

.contact-section-description {
    width: 720px;
    min-height: 72px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
  }

.contact-section-form {
    display: grid;
    grid-template-columns: 600px 200px;
    padding-top: 23px;
    padding-bottom: 94px;
    padding-left: 200px;
    height: 60px;
}

.text {
    width: 600px;
    height: 60px;
    border-radius: 10px 0px 0px 10px;
    font-size: 18px;
    line-height: 26px;
    padding-left: 20px;
}

.button-contact {
    width: 200px;
    height: 60px;
    background-color: #83B3D3;
    border-radius: 0px 10px 10px 0px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
}

.page-footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 40px;
    line-height: 40px;
    color:#000000;
    background-color: #ffffff;
}

.footer-social {
    min-height: 120px;
}

.social-list {
    display: flex;
    align-items: center;
    height: 120px;
    margin: 0;
    padding: 0;
    list-style-type: none;  
}

.social-item-twitter {
    display: block;
    padding-left: 72px;
}

.social-item-facebook {
    display: block;
    padding-left: 29px;
}

.social-item-youtube {
    display: block;
    padding-left: 30px;
}

.footer-link {
    display: block;
    font-size: 20px;
    line-height: 20px;
    color:#000000;
    background-color: #ffffff;
    padding-right: 72px;
    padding-left: 53px;
    padding-top: 44px;
}

.footer-phone-link {
    display: block;
    color: #000000;
    width: 720px;
    margin-left: 61px;
    margin-right: 53px;
    padding-top: 40px;
    padding-bottom: 30px;
    text-decoration: none;
    text-align: center;
}

/*Каталог*/

.main-inner {
    display: flex;
    width: 1200px;
    color: #ffffff;   
}

.inner-header {
    background: url("../images/main-catalog-background.jpg")
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
    padding-left: 71px;
    padding-top: 35px;
    padding-right: 601px;
    margin: 0;
    
}

/*Фильтры*/

.breadcrumbs {
    display: flex;
    list-style-type: none;
}



.breadcrumbs-item-home {
    margin-left: 73px;
    margin-top: 8px;
}

.breadcrumbs-item-catalog {
    margin-left: 26px;
    margin-top: 8px;
}

.catalog-hotels {
    display: flex;
    width: 1200px;
}

.search-hotels {
    display: flex;
    flex-direction: column;
}

.search-form {
    margin-left: 71px;
    margin-top: 45px;
}

.search-form-fieldset {
    margin-top: 45px;
    margin-left: 67px;
}

.price-hotels {
    margin-top: 45px;
}

.search-hotels {
    width: 160px;
    height: 71px;
    margin-top: 45px;
}

.search-hotels-apply {
    width: 160px;
    height: 48px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    background-color: #83B3D3;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 4px;
}

.search-hotels-reset {
    width: 160px;
    height: 23px;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    background: none;   
    border: none;
    padding-top: 20px;    
}

/*Результат поиска*/
.search-result {
    display: flex;
    justify-content: space-between;
}

.total-result {
    height: 39px;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    margin-left: 71px;
    margin-top: 50px;
}

.sorting-type {
    width: 287px;
    height: 48px;
   
    margin-top: 44px;
    margin-left: 192px;
    margin-right: 82px;
}

.select-control {
    width: 287px;
    height: 48px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
}

.mode-buttons {
    display: flex;
    background-color: #ffffff;
}

.mode-buttons-card-list {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    border: 2px solid #000000;
    margin-top: 44px;
    margin-right: 72px;
}

.mode-buttons-card-big {
    width: 44px;
    height: 44px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    margin-top: 44px;
    margin-right: 8px;
}

.mode-buttons-card-small {
    width: 44px;
    height: 44px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    margin-top: 44px;
    margin-right: 8px;
}

/*Картоки каталога*/

.hotel-list {
    
    display: flex;
    flex-direction: column;
    gap: 61px;
    padding: 0;
}

.hotel-card {
    display: grid;
    grid-template-columns: 208px 151px 160px 550px;
    grid-template-rows: 32px 54px 40px;
    grid-column-gap: 8px;
    grid-row-gap: 0;
    width: 1056px;
    margin-left: 72px;
}

.hotel-card-link {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: auto;
}

.hotel-card-title {
    grid-column: 2/4;
    grid-row: 1/2;
    margin: 0;
}

.hotel-card-type {
    grid-column: 2/3;
    grid-row: 2/3;
}

.hotel-card-price {
    grid-column: 3/4;
    grid-row: 2/3;
}

.hotel-card-details {
    grid-column: 2/3;
    grid-row: 3/4;
}

.hotel-card-favourites {
    grid-column: 3/4;
    grid-row: 3/4;
}

.star {
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: end;
}

.rating {
    grid-column: 4/5;
    grid-row: 3/4;
    width: 160px;
    height: 37px;
    background: #F2F2F2;
    border-radius: 4px;
    text-align: center;
    justify-self: end;
    text-transform: uppercase;
}

.hotel-card-details {
    width: 151px;
    height: 37px;
    background: #756257;
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.hotel-card-favourites {
    width: 160px;
    height: 37px;
    background: #83B3D3;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}



.show-more-button {
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    background-color: #83B3D3;
    border: none;
    width: 625px;
    height: 55px;
    border-radius: 4px;
    text-transform: uppercase;
    margin-left: 288px;
    margin-top: 31px;
}


.pagination {
    display: flex;
    justify-content: space-around;
    width: 370px;
    list-style-type: none;
}

.pagination-link {
    display: block;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    background-color: #83B3D3;
    width: 55px;
    height: 55px;
    border-radius: 4px;
    text-decoration: none;       
}

.pagination-link.pagination-current-1 {
    background-color: #F2F2F2;
    color: #000000;
    border-radius: 4px;
}

.quantity-hotel-card {
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    background-color: #ffffff;
}


.contact-section-catalog {
    min-height: 411px;
}

.contact-section-title-catalog {
    width: 720px;
    padding-top: 94px;
    padding-left: 240px;
    font-size: 30px;
    line-height: 36px;
    text-align:center;
    color: #000000;
    text-transform: uppercase;
}

.contact-section-description-catalog {
    width: 720px;
    height: 72px;
    padding-top: 159px;
    padding-left: 240px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.contact-section-form-catalog {
    display: grid;
    grid-template-columns: 600px 200px;
    padding-top: 23px;
    padding-bottom: 94px;
    padding-left: 200px;
    height: 60px;
}

.contact-form {
    background-color: #F2F2F2;
    border: 0;
    border-radius: 10px 0px 0px 10px;
}