
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2");
    font-display: swap;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", "PT Mono", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.page-conteiner {
    width: 1200px;
    margin: 0 auto;
}

.main-conteiner {
    flex-grow: 1;
}

.page-header {
    color: #000000;
    font-size: 20px;
    line-height: 26px;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: auto;
    padding: 0;
}

.navigation-list {
    width: 380px;
    color: #000000;
    background-color: #ffffff;
    font-size: 20px;
    line-height: 26px;  
}

.navigation-list a {
    color: #000000;
}

.navigation-user {
    max-width: 330px;
    margin-left: auto;
}

.page-main {
    width: 1200px;
    margin: 0 auto;
    background-image: url("images/page-main.jpg");
    background-color: #83B3D3;
    background-repeat: no-repeat;
}

.sedona-description {
    width: 720px;
    margin: auto;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
}

.reasons {
    width: 720px;
    margin: auto;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}

.advantages {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;color: #000000;
    background-color: #ffffff;
   }

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    background-color: #83B3D3;
    background-size: 400px 384px;

}   

/*Преимущества*/
.advantages-item {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    font-size: 24px;
    line-height: 28px;   
}
.advantages-item .item-1 {
    width: 1200px;
    color: #ffffff;
    background-color: #83B3D3;
}
.advantages-item .item-2 {
    width: 1200px;
    color: #ffffff;
    background-color: #83B3D3;
}
.advantages-item .item-3 {
    width: 400px;   
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item .item-4 {
    width: 400px;  
    background-color: rgba(131, 179, 211, 0.2);
}
.advantages-item .item-5 {
    width: 400px;
    background-color: rgba(131, 179, 211, 0.12);
}

.subadvantages-list {
    display: flex; 
    width: 1200px;
}

.subadvantages-item-1 {
    width: 400px;
    color: #000000;
    background-color: rgba(131, 179, 211, 0.12);
}

.subadvantages-item-2 {
    width: 400px;
    color: #000000;
    background-color: #ffffff;
}
.subadvantages-item-3 {
    width: 400px;
    color: #000000;
    background-color: rgba(131, 179, 211, 0.12);
}

.search {
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.search-title {
    width: 720px;
    margin: auto;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-align: center;
}
.search-description {
    width: 720px;
    margin: auto;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    text-align: center;

}

section .search-description + .button
 {
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    background-color: #756257;
    text-align: center;
    width: 575px;
    height: 60px;
    border-radius: 10px;
    margin: auto;
}

.contact-section {
    color: #ffffff;
    background-color:#000000;
    background-image: url("images/contact-section-background.jpg");
    }

.contact-section-title {
    font-size: 30px;
    line-height: 36px;
    text-align:center;
    color: #ffffff;
    background-color: #000000;
}

.contact-section-description {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;

}

.page-footer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-family: "PT Sans" sans-serif;
    font-size: 40px;
    line-height: 40px;
    color:#000000;
    background-color: #ffffff;
}

.social-list {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.social-item {
    font-size: 20px;
    line-height: 20px;
    color:#000000;
    background-color: #ffffff;
}

.footer-link {
    font-size: 20px;
    line-height: 20px;
    color:#000000;
    background-color: #ffffff;
}
    

/*Каталог*/

.main-inner {
    color: #ffffff;
    background-color: #000000;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
}

.breadcrumbs {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.search-form-field-title {
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
}

.search-label {
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
}

.price-hotels-title {
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
}

.range-toggle toggle-min {
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
}

.range-toggle toggle-max {
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
}

.search-hotels-apply button{
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    background-color: #83B3D3;
    width: 160px;
    height: 48px;
    border-radius: 4px;
}

.search-hotels-reset {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.total-result {
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    background-color: #ffffff;
}

.select-control {
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    background-color: #ffffff;
}

.hotel-card-title {
    font-size: 24px;
    height: 31px;
    color: #000000;
    background-color: #ffffff;
}

.hotel-card-type, 
.hotel-card-price {
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    background-color: #ffffff;
}

.hotel-card-details {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    background-color: #756257;
    width: 160px;
    height: 37px;
    border-radius: 4px;
}

.hotel-card-favourites {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    background-color: #83B3D3;
    width: 160px;
    height: 37px;
    border-radius: 4px;
}

.button .show-more-button {
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    background-color: #83B3D3;
    width: 625px;
    height: 55px;
}

.pagination-link {
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    background-color: #83B3D3;
    width: 55px;
    height: 55px;
    border-radius: 4px;
}

.pagination-link .pagination-current-1 {
    background-color: #F2F2F2;
}

.quantity-hotel-card {
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    background-color: #ffffff;
}