
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2");
    font-display: swap;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", "PT Mono", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0;
}

.navigation-list {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 33px;
    font-size: 20px;
    line-height: 26px;
}

.navigation-user {
    display: grid;
    grid-template-columns: 50px 50px 200px;
}

.navigation-logo {
    width: 138px;
    margin: auto;
}

.logo {
/*Здесь будет картинка Седоны*/
}

.advantages {
    display: flex;
    flex-direction: column;
}

.sedona-description {
    font-size: 30px;
    line-height: 36px;
}

.reasons {
    font-size: 22px;
    line-height: 36px;
}

/*Преимущества Седоны через сделаны гридами */
.advantages-list {
    display: grid;
    grid-template-areas: "i-1 li-1 li-1"
                         "si-1 si-2 si-3"
                         "li-2 li-2 i-2"
                         "i-3 i-4 i-5";
    grid-template-columns: 400px 400px 400px;    
    grid-template-rows: 384px 384px 384px 384px;                 
}

.item-1 {
    grid-area: i-1;
    color: #ffffff;
    background-color: #83B3D3;
}

.advantages-list-photo-1 {
    grid-area: li-1;
}

.advantages-list-photo-2 {
    grid-area: li-2;
}

.subadvantages-item-1 {
    grid-area: si-1;
    color: #000000;
    background-color: rgba(131, 179, 211, 0.12);
}

.subadvantages-item-2 {
    grid-area: si-2;
    color: #000000;
    background-color: #ffffff;
}

.subadvantages-item-3 {
    grid-area: si-3;
    color: #000000;
    background-color: rgba(131, 179, 211, 0.12);
}

.item-2 {
    grid-area: i-2;
    color: #ffffff;
    background-color: #83B3D3;
}

.item-3 {
    grid-area: i-3;
    background-color: rgba(131, 179, 211, 0.12);
}

.item-4 {
    grid-area: i-4;
    background-color: rgba(131, 179, 211, 0.2);
}

.item-5 {
    grid-area: i-5;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
}

.advantages-number {
    font-size: 18px;
    line-height: 21px;
}

.advantages-description {
    font-size: 18px;
    line-height: 21px;
}

.search {
    display: flex;
    flex-direction: column;
    width: 1200px;
    background-color: #ffffff;
}

.search-title {
    width: 720px;
    margin: auto;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-align: center;
}
.search-description {
    width: 720px;
    margin: auto;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    text-align: center;
}

.contact-section {
    display: grid;
    grid-template: 400px 400px 400px;
    width: 1200px;
    color: #ffffff;
    background-color:#000000;
    background-image: url("/images/contact-section-background.jpg");
    }

.contact-section-title {
    font-size: 30px;
    line-height: 36px;
    text-align:center;
    color: #ffffff;
    background-color: #000000;
}

.contact-section-description {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;

}

.page-footer {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0;
    font-family: "PT Sans" sans-serif;
    font-size: 40px;
    line-height: 40px;
    color:#000000;
    background-color: #ffffff;
}

.social-list {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.social-item {
    font-size: 20px;
    line-height: 20px;
    color:#000000;
    background-color: #ffffff;
}

.footer-link {
    font-size: 20px;
    line-height: 20px;
    color:#000000;
    background-color: #ffffff;
}

/*Каталог*/

.main-inner {
    display: grid;
    width: 1200px;
    color: #ffffff;
    background-color: #83B3D3;
   }

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
    background-image: url("images/main-catalog-background.jpg");
}

/*Фильтры*/

.breadcrumbs {
    display: flex;
}

.catalog-hotels {
    display: grid;
    grid-template-columns: 250px 150px 500px 300px;
    grid-template-rows: 40px auto;
    width: 1200px;
    height: 410px;
    background-color: #83B3D3;
}

.search-form-field-title {
    grid-column: 1/3;
    grid-row: 1/2;
}

.search-form-field-item {
    grid-column: 1/3;
    grid-row: 2/3;
}

.search-form-fieldset {
    grid-column: 2/3;
    grid-row: 1/2;
}

.price-hotels-title {
    grid-column: 3/4;
    grid-row: 1/2;
}

/*Результат поиска*/
.search-result {
    display: grid;
    grid-template-columns: 500px 300px 100px 100px 100px;
    gap: 25px;
    width: 1200px;
}

.hotel-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hotel-card {
    display: grid;
    grid-template-columns: 250px 200px 200px 550px;
    grid-row: 40px 40px 40px;
    gap: 10px;
    width: 1200px;
}

.hotel-card-image {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: auto;
}

.hotel-card-title {
    grid-column: 2/4;
    grid-row: 1/2;
}

.hotel-card-type {
    grid-column: 2/3;
    grid-row: 2/3;
}

.hotel-card-price {
    grid-column: 3/4;
    grid-row: 2/3;
}

.hotel-card-details {
    grid-column: 2/3;
    grid-row: 3/4;
}

.hotel-card-favourites {
    grid-column: 3/4;
    grid-row: 3/4;
}

.rating {
    grid-column: 4/5;
    grid-row: 3/4;
}

.button .show-more-button {
    margin: auto;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    background-color: #83B3D3;
    width: 625px;
    height: 55px;
}

.pagination {
    display: flex;
    justify-content: space-around;
    width: 370px;
}

.pagination-link {
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    background-color: #83B3D3;
    width: 55px;
    height: 55px;
    border-radius: 4px;
}

.pagination-link .pagination-current-1 {
    background-color: #F2F2F2;
}

.quantity-hotel-card {
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    background-color: #ffffff;
}